# Ivy Framework
ivy/func_wrapper.py @Sam-Armstrong
**/gradients.py @Sam-Armstrong
ivy/utils/backend @Sam-Armstrong
ivy/utils/backend/ast_helpers.py @Sam-Armstrong

# Ivy Testing
ivy_tests/test_ivy/helpers/ @Sam-Armstrong

# Docs builder
docs/index.rst @Sam-Armstrong
docs/make_docs.sh @Sam-Armstrong
docs/partial_conf.py @Sam-Armstrong
docs/prebuild.sh @Sam-Armstrong
docs/overview/contributing/building_the_docs.rst @Sam-Armstrong
docs/overview/deep_dive/building_the_docs_pipeline.rst @Sam-Armstrong
docs/_templates @Sam-Armstrong
docs/demos @Sam-Armstrong

# README
README.md @Sam-Armstrong
