numpy~=1.23.0
termcolor~=1.1.0
torch~=1.11.0+cpu
h5py~=3.7.0
colorama~=0.4.5
psutil~=5.9.1
einops~=0.4.1
jax~=0.3.14
jaxlib~=0.3.14
packaging~=21.3
scipy~=1.8.1
functorch~=0.1.1
tensorflow~=2.9.1
setuptools~=58.5.3
hypothesis~=6.48.2
pytest~=7.1.2
redis~=4.3.4
ndindex~=1.6
PyDriller~=2.1
tqdm~=4.64.1