// self-defined globals //
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// ivy colors
$ivy-green: #35a835;
$ivy-grey: #f9f9f9;
$ivy-divider: #e9e9ea;
$ivy-light-grey: #f9f9f8;

// gradient borders
$ivy-green-gradient-border: linear-gradient(to right, $ivy-green, $ivy-grey) 1;
$ivy-gradient-border-ending-point: 0;
$ivy-gradient-border-space-below-title: 3%;

// media screen size
$rwd-screen-size: 640px;

// configure default globals //

// font
// $font-family-sans-serif: helvetica;

// color
$link-color: $ivy-green;
$progress-bg: $ivy-grey;

// inline code
$code-color: $ivy-green;
$code-bg: $ivy-light-grey;

// code block
$code-block-bg: $ivy-grey;
$code-block-bg-padding: 3%;
$code-block-border-left: $ivy-green;
$code-block-border-left-size: 3px;
$btn-code-copy-color-active: $ivy-green;

// navbar
$navbar-bg: white;
$navbar-fg: black;

// sidebar
$sidebar-bg: white;
$sidebar-fg: black;

/*-- scss:rules --*/

* {
    font-size: 100%;
    font-family: 'Inter';
}

a {
    color: $ivy-green;
    text-decoration: none;
}

p {
    font-size: medium;
    padding: 0 0;
}

h1 {
    padding-bottom: $ivy-gradient-border-space-below-title;
    margin-right: $ivy-gradient-border-ending-point;
    border-bottom: 2px solid $ivy-divider;
    text-transform: capitalize;
    font-weight: bold;
}

h2 {
    // padding-bottom: $ivy-gradient-border-space-below-title;
    margin-right: $ivy-gradient-border-ending-point;
    border-bottom: 2px solid $ivy-divider;
    text-transform: capitalize;
    font-weight: bold;
}

h3 {
    font-size: large;
    font-weight: 600;
    text-transform: capitalize;
}

/*-- scss:defaults --*/

@media screen and (max-width: $rwd-screen-size) {
    .rwd-gallery-layout {
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: $rwd-screen-size) {
    .rwd-gallery-layout {
        grid-template-columns: 33% 33% 33%;
    }
}

.notebook-grid-gallery {
    display: grid;
    row-gap: 0.5em;
    grid-auto-rows: 1fr;
    margin: 2% 0;
}

.notebook-card {
    color: black;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    margin: auto 2%;
    padding: 5% 5%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.notebook-card:hover {
    border: 2px solid $ivy-green;
}

.notebook-card-title {
    font-size: medium;
    font-weight: bold;
}

.notebook-card-body {
    font-size: small;
}

.notebook-card-title-border {
    margin: $ivy-gradient-border-space-below-title $ivy-gradient-border-ending-point 2% 0;
}

#colab-button .quarto-figure .figure p {
    text-align: left;
}

.quarto-sidebar {
    padding-right: 2em;
    padding-left: 0;
}

.quarto-listing {
    padding-bottom: 0;
}

.nav-link {
    font-size: small;
}

.callout {
    border-left-color: $ivy-green !important;
    background-color: $ivy-grey;
}

img.navbar-logo {
    max-height: 60px;
}

.navbar {
    box-shadow: 0px 1px 0px 1px $ivy-grey;
}

.navbar-nav {
    text-align: right;
    margin-left: auto;
}

ul.navbar-nav.navbar-nav-scroll.me-auto {
    margin-right: 0 !important ;
}

span.menu-text {
    font-size: medium;
}

.navbar-container {
    margin: 0 auto 0 auto;
    justify-content: center;
}

@media only screen and (max-width: 1023px) {
    .navbar-nav {
        text-align: center;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1550px) {
    .navbar-container {
        max-width: 95%;
    }
}

@media only screen and (min-width: 1550px) and (max-width: 1634px) {
    .navbar-container {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1634px) and (max-width: 1968px) {
    .navbar-container {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1968px) {
    .navbar-container {
        max-width: 60%;
    }
}
