// self-defined globals //

// ivy colors
$ivy-green: #43ae43;
$ivy-grey: #f5f5f4;
$ivy-light-grey: #f9f9f8;

// gradient borders
$ivy-green-gradient-border: linear-gradient(to right, $ivy-green, $ivy-grey) 1;
$ivy-gradient-border-ending-point: 15%;
$ivy-gradient-border-space-below-title: 3%;

// media screen size
$rwd-screen-size: 640px;

// configure default globals //

// font
$font-family-sans-serif: helvetica;

// color
$link-color: $ivy-green;
$progress-bg: $ivy-grey;

// inline code
$code-color: $ivy-green;
$code-bg: $ivy-light-grey;

// code block
$code-block-bg: $ivy-grey;
$code-block-bg-padding: 3%;
$code-block-border-left: $ivy-green;
$code-block-border-left-size: 3px;
$btn-code-copy-color-active: $ivy-green;

// sidebar
$sidebar-bg: $ivy-grey;
$sidebar-fg: black;

/*-- scss:rules --*/

a {
    color: $ivy-green;
    text-decoration: none;
}

p {
    font-size: medium;
    padding: 1% 0;
}

h1 {
    padding-bottom: $ivy-gradient-border-space-below-title;
    margin-right: $ivy-gradient-border-ending-point;
    border-bottom: 2px solid;
    border-image: $ivy-green-gradient-border;
    text-transform: capitalize;
}

h2 {
    padding-bottom: $ivy-gradient-border-space-below-title;
    margin-right: $ivy-gradient-border-ending-point;
    border-bottom: 1px solid;
    border-image: $ivy-green-gradient-border;
    text-transform: capitalize;
}

h3 {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
}

/*-- scss:defaults --*/

@media screen and (max-width: $rwd-screen-size) {
    .rwd-gallery-layout {
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: $rwd-screen-size) {
    .rwd-gallery-layout {
        grid-template-columns: 50% 50%;
    }
}

.notebook-grid-gallery {
    display: grid;
    grid-row-gap: 2%;
    grid-auto-rows: 1fr;
    margin: 2% 0;
}

.notebook-card {
    color: black;
    border-radius: 20px;
    border: 2px solid $ivy-light-grey;
    background-color: $ivy-grey;
    margin: auto 2%;
    padding: 5% 5%;
    height: 100%;
}

.notebook-card:hover {
    border: 2px solid $ivy-green;
    border-radius: 20px;
    background-color: $ivy-light-grey;
}

.notebook-card-title {
    font-size: x-large;
    font-weight: 500;
}

.notebook-card-title-border {
    margin: $ivy-gradient-border-space-below-title $ivy-gradient-border-ending-point 2% 0;
    border-bottom: 2px solid;
    border-image: $ivy-green-gradient-border;
}

#colab-button .quarto-figure .figure p {
    text-align: left;
}
