astor
astunparse
black
colorama
cloudpickle
cryptography
dill
diskcache
einops
gast
google-auth # mod_name=google.auth
ml-dtypes # mod_name=ml_dtypes
numpy # unpinned we test with latest version now
nvidia-ml-py # mod_name=pynvml
packaging
psutil
pyvis
requests
ruff
termcolor
tqdm
urllib3<2.0 # for version conflict with google-auth
