/* Main background color modification */
.btn-info,
.wy-menu-vertical a:active,
.wy-side-nav-search,
.wy-side-nav-search img,
.wy-nav .wy-menu-vertical a:hover,
.wy-nav-top img,
.wy-tray-item-info,
.wy-side-nav-search,
.wy-dropdown-menu > dd > a:hover,
.wy-dropdown-menu a:hover,
.wy-nav-top {
  background-color: #009600 !important;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: #009600;
}

a {
  color: #009600;
}

a:visited {
  color: #009600;
}

.wy-menu-vertical a:visited {
  color: #d9d9d9;
}

.wy-side-nav-search > a:visited,
.wy-side-nav-search .wy-dropdown > a:visited {
  color: #fcfcfc;
}

.rst-content code.literal,
.rst-content tt.literal,
.rst-content span.literal {
  color: #009600;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt,
html.writer-html5
.rst-content
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
> dt {
  background: #ebffe1;
  color: #006400;
  border-top: solid 3px #009600;
}

.rst-content .note,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
  background: #ebffe1;
}

.rst-content .note .admonition-title,
.rst-content .note .wy-alert-title,
.rst-content .seealso .admonition-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.admonition .admonition-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.wy-alert.wy-alert-info .wy-alert-title {
  background-color: #009600 !important;
  color: #fff;
}

.highlight .gp{
  color: #006400;
}

@media only screen and (min-width: 500px) {
  .logo{
    padding: 0.8em;
  }
}

@media only screen and (max-width: 500px) {
  .logo{
    padding: 0.5em;
  }
}

@media only screen and (max-width: 350px) {
  .logo{
    padding: 0.2em;
  }
}

.supported_frameworks{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video{
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .video{
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .video{
    width: 60%;
  }
}