```{=html}
<link href="assets/css/custom.scss" rel="stylesheet" type="text/css">

<div class="notebook-grid-gallery rwd-gallery-layout">
<% for (const item of items) { %>
  <a href="<%- item.path %>">
    <div class="notebook-card">
      <div class="notebook-card-title"><%= item.title %></div>
      <div class="notebook-card-title-border"></div>
      <div><%= item.description %></div>
    </div>
  </a>
<% } %>
</div>
```