name: dockerfile

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build Dockerfile
      run: |
        docker build . --file docker/Dockerfile --tag ivyllc/ivy:$(date +%s)
