name: qa
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  actions: read
  contents: write

jobs:
  integration-tests:
    uses: ivy-llc/ivy-integration-tests/.github/workflows/qa-integration-tests.yml@main
    secrets: inherit
