name: Pre-Release Workflow
on:
  workflow_dispatch:

permissions:
  actions: read
  contents: write

jobs:
  integration-tests:
    name: Run Integration Tests
    uses: ivy-llc/ivy-integration-tests/.github/workflows/qa-integration-tests.yml@main
    with:
      binaries-branch: testing-nightly
    secrets: inherit
