name: Release Workflow
on:
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  actions: read
  contents: write

jobs:
  integration-tests:
    name: Run Integration Tests
    uses: ivy-llc/ivy-integration-tests/.github/workflows/qa-integration-tests.yml@main
    with:
      binaries-branch: testing-nightly
    secrets: inherit

  deploy:
    name: Deploy to PyPI
    needs: integration-tests
    uses: ./.github/workflows/pypi.yml
    secrets: inherit
