name: Release Workflow
on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  publish-binaries:
    name: Publish Binaries
    uses: ./.github/workflows/binaries.yml
    secrets: inherit

  deploy:
    name: Deploy to PyPI
    uses: ./.github/workflows/pypi.yml
    secrets: inherit
