name: docstrings
on:
  push:
    branches:
      main
  workflow_dispatch:
jobs:
  docstring-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: ivy
          persist-credentials: false
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Run Docstring Tests
        run: |
          cd ivy
          docker run --rm -i -v "$(pwd)":/ivy ivyllc/ivy:latest python3 -m pytest ivy_tests/test_docstrings.py -p no:warnings
